footer.grid-admin-container__footer.footerAdmin
  .footerAdmin__logo
    include _svg-white
  .footerAdmin__copyright
    p &copy; _2020 All rights reserved to Patrimoine-Ambition, website made by mm-devpro