doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href='https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700&display=swap', rel='stylesheet')
    link(rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/img/favicon.ico' type='image/x-icon')
    link(rel='stylesheet', href='/css/style.css')
    title Patrimoine Ambition | #{title}
    script(src='https://kit.fontawesome.com/502191cc49.js' crossorigin='anonymous')



  body
    .grid-admin-container
      // HEADER
      block header
      block buttons
      |
      // CONTENT
      block content

      // FOOTER
      include _adminFooter

script(src="/js/bundle.js")