extends base

block header
  header.header.header-sub
    include _svg-white
    h2.heading--sub #{section}

block sideview
  main.sideview.notices
    .notices-item
      h3.heading.heading-3 PROPRIETE ET RESPONSABILITE EDITORIALE
      p Le présent site est la propriété de la société :
        | &nbsp;
        span.italic C&C PATRIMOINE AMBITION,
        | &nbsp; SARL au capital de 1000€, inscrite au RCS de Grenoble sous le numéro 881 012 884, dont le siège social se situe au 11 rue des Gagnages, 38590 BREZINS
    .notices-item
      h3.heading.heading-3 HEBERGEMENT
      p Le prestataire assurant l’hébergement du site est la société OVH, 2 rue Kellermann – 59100 Roubaix – France.

    .notices-item
      h3.heading.heading-3 STATUTS REGLEMENTES
      p Société immatriculée sur le registre unique des intermédiaires en assurance, banque et finance (www.orias.fr) sous le numéro 20001932 au titre des activités réglementées suivantes :
      ul
        li
          |&nbsp;
          span.strong Courtier d’assurance ou de réassurance (COA),
          |&nbsp; Courtier en assurance positionné dans la catégorie « b » n’étant pas soumis à une obligation contractuelle de travailler exclusivement avec une ou plusieurs entreprises d’assurance, contrôlable par l’Autorité de Contrôle Prudentiel et de Résolution (ACPR) – 4, place de Budapest CS 92459 75436 Paris Cedex 09
        li
          |&nbsp;
          span.strong Courtier en opérations de banque et en services de paiement (COBSP),
          |&nbsp; une obligation contractuelle de travailler exclusivement avec un ou plusieurs fournisseurs, contrôlable par l’Autorité de Contrôle Prudentiel et de Résolution (ACPR) – 4, place de Budapest CS 92459 75436 Paris Cedex 09
        li
          |&nbsp;
          span.strong Agent immobilier :
          |&nbsp; Loi HOGUET - Carte professionnelle transaction n° CPI 3801 2020 000 044 801 délivrée par la CCI de Grenoble – NE PEUT RECEVOIR AUCUN FONDS, EFFETS, OU VALEURS. Garantie financière auprès du groupe MMA IARD 14 Boulevard Marie et Alexandre Oyon 72030 Le Mans CEDEX 9,  Police N°118.263.166 Adhérent N°23189. L’activité immobilière est contrôlable par la DGCCRF.

    .notices-item
      h3.heading.heading-3 LITIGE / RECLAMATION
      p En cas de litige ou de réclamation du client, les parties contractantes s’engagent à rechercher en premier lieu un arrangement amiable. Le client pourra présenter sa réclamation par courrier à l’adresse du cabinet
        |&nbsp;
        span.italic PATRIMOINE AMBITION
        |&nbsp; ou par mail à l’adresse contact@patrimoine-ambition.fr, à l’attention de Philippe CHRISTIN, qui disposera de 10 jours pour en accuser réception, puis de 2 mois à compter de la réception de la réclamation, pour y répondre. A défaut d’arrangement amiable, les parties pourront informer :
      ul
        li Madame Marielle Cohen Branche, Médiateur de l’AMF, au 17, place de la Bourse 75082 Paris Cedex 02,
        li l’Autorité de Contrôle Prudentiel et de Résolution, au 61, rue Taitbout 75436 Paris Cedex 9.
      p En cas d’échec, le litige pourrait être porté devant les tribunaux compétents.
    .notices-item
      h3.heading.heading-3 UTILISATION DES DONNEES
      p Conformément à la loi “Informatique et Libertés” du 6 janvier 1978 modifiée en 2004, vous disposez d’un droit d’accès individuel, de rectification et de suppression de données nominatives vous concernant, que
        |&nbsp;
        span.italic PATRIMOINE AMBITION
        |&nbsp; est amené à recueillir pour un traitement à usage interne exclusivement. Vos droits peuvent être exercés auprès de
        span.italic PATRIMOINE AMBITION
        |&nbsp; 11 rue des Gagnages 38590 BREZINS.
    .notices-item
      h3.heading.heading-3 COOKIES
      p L’utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation et être conservé temporairement en mémoire ou sur son disque dur. Un cookie est un élément qui ne permet pas d’identifier l’utilisateur mais sert à enregistrer des informations relatives à sa navigation sur le site internet. Les utilisateurs du site reconnaissent avoir été informés de cette pratique et autorisent
        | &nbsp;
        span.italic PATRIMOINE AMBITION
        |&nbsp; à l’employer. Ils pourront désactiver ce cookie par l’intermédiaire des paramètres figurant au sein de leur logiciel de navigation.
    .notices-item
      h3.heading.heading-3 NATURE DE L’INFORMATION DU SITE ET RESPONSABILITE
      p Le site www.patrimoine-ambition.fr est un site à but exclusivement informatif dont l’objectif est de présenter l’activité du cabinet ainsi que les principales caractéristiques de ses services. Toutes les informations disponibles sur le site ont un caractère uniquement indicatif. Toute information peut être modifiée sans préavis par
        |&nbsp;
        span.italic PATRIMOINE AMBITION.
        |&nbsp; Ces informations ne doivent en aucun cas être considérées comme des conseils d’investissements. Seul un rendez-vous avec l’un de nos conseillers permet d’établir des préconisations.
      p Le cabinet
        |&nbsp;
        span.italic PATRIMOINE AMBITION
        |&nbsp; prend toutes les mesures nécessaires pour que l’information contenue soit fiable et exacte. Si, malgré toutes nos précautions, des inexactitudes, des omissions ou des lacunes subsistent, merci de bien vouloir nous les signaler.
      p Ce site vous offre la possibilité de nous envoyer des e-mails.
        |&nbsp;
        span.italic PATRIMOINE AMBITION
        |&nbsp; décline toute responsabilité à cet égard quant aux possibilités d’interception, d’altération ou de perte.
      p De même, Les liens hypertextes mis en place dans le cadre du présent site ne sauraient engager la responsabilité de
        |&nbsp;
        span.italic PATRIMOINE AMBITION.
