//COLORS
//$color-primary: #df9610 ;
//$color-primary-light: #febc36;
//$color-primary-dark: #dd7524;
$color-primary: #fdee79 ;
$color-primary-2: #dacd6b;
$color-primary-dark: #857f4d;

$color-secondary: #222223;
$color-secondary-light: #35363B;

//#fef7e7
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #999;

$color-grey-dark-1 : #777;
$color-grey-dark-2 : #2c2b24;


$color-white : #fff;
$color-black: #000;

//FONTS
$default-font-size: 1.6rem;
$font-display: 'Raleway', sans-serif;
$font-primary: 'Neuropol X rg', sans-serif;

$bp-largest: 75em;  // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-vsmall: 31.25em; //500px